{%extends 'base.html'%}
{% block content %} 
<h1 class="title">SELECT SUBJECT</h1>
<div class="container">
    <div class="main">
        <div class="tag"><a href="{% url 'main:Maths' %}" style="color:rgb(39, 39, 39); text-decoration: none;"> Maths </a></div>
        <div class="tag"><a href="{% url 'main:Subject' 'Science'%}" style="color:rgb(39, 39, 39); text-decoration: none;"> Science </a></div>
        <div class="tag"><a href="{% url 'main:Subject' 'History'%}" style="color:rgb(39, 39, 39); text-decoration: none;"> History </a></div>
        <div class="tag"><a href="{% url 'main:Subject' 'Civics'%}" style="color:rgb(39, 39, 39); text-decoration: none;"> Civics </a></div>
        <div class="tag"><a href="{% url 'main:Subject' 'Economics'%}" style="color:rgb(39, 39, 39); text-decoration: none;"> Economics  </a></div>
        <div class="tag"><a href="{% url 'main:Subject' 'Geography'%}" style="color:rgb(39, 39, 39); text-decoration: none;"> Geography </a></div>
    </div>
    {%include 'comment.html'%}
</div>

{%endblock%}