{%extends 'base.html'%}
{% block content %}
{% block Math %} Home {% endblock %}
{% block Mathlink %} {% url 'main:Home' %} {% endblock %}
<h1 class="title" style="margin-top: 3.5rem;">SELECT BOOK</h1>
<div class="container">
    <div class="main">
        <div class="breadcrumb">
            <a href="{% url 'main:Home' %}" class="anchor" style="margin-left:5px;"> Home </a>
            <big style="color: white; margin-left:3px;">/</big>
            <a href="{% url 'main:Maths' %}" class="anchor" style="color:#02FBD4; font-weight: 700;"> Maths </a>
        </div>
        {%for book_name in books %}
        <div class="tag"><a href="{% url 'main:MathsChapter' book=book_name.id %}" style="color:rgb(39, 39, 39); text-decoration: none;"> {{book_name}} </a></div>
        {%endfor%}
    </div>
    {%include 'comment.html'%}
    
</div>

{%endblock%}